@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.nav {
    background-color: gray;
    font-family: "Roboto";
    display: flex;
    justify-content: space-between;
}

li {
    float: left;
    list-style: none;
    margin: 20px;
    
}
.nav-title {
    margin: 20px;
    
}
.btn {
    border: 2px solid black;
    background-color: aqua;
    color: rgb(29, 60, 87);
    box-shadow: 2px 3px;
}

div a {
    text-decoration: none;
    color: white;
   
}